<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.zb.pojo.User">
        <id column="user_id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="username"/>
        <result column="user_password" jdbcType="VARCHAR" property="password"/>
        <result column="user_realName" jdbcType="VARCHAR" property="realName"/>
        <result column="user_phoneNumber" jdbcType="CHAR" property="phoneNumber"/>
        <result column="user_email" jdbcType="VARCHAR" property="email"/>
        <result column="user_gender" jdbcType="INTEGER" property="gender"/>
        <result column="user_academy" jdbcType="VARCHAR" property="academy"/>
        <result column="user_grade" jdbcType="VARCHAR" property="grade"/>
        <result column="user_createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="user_updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="user_studentNumber" jdbcType="VARCHAR" property="studentNumber"/>
        <result column="user_deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="user_role" jdbcType="VARCHAR" property="role"/>
        <collection column="user_id" ofType="com.zb.pojo.Item" property="items"
                    select="com.zb.mapper.ItemMapper.selectByUserId"></collection>
    </resultMap>

    <sql id="User_Column_List">
        user.id as user_id, user.username as user_name, user.password as user_password,
            user.real_name as user_realName, user.phone_number as user_phoneNumber,
            user.email as user_email, user.gender as user_gender, user.academy as user_academy,
            user.grade as user_grade, user.create_time as user_createTime, user.update_time as user_updateTime,
            user.student_number as user_studentNumber, user.deleted as user_deleted, user.role as user_role
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="UserResultMap">
        select
        <include refid="User_Column_List"/>
        from user user
        where user.id = #{id,jdbcType=INTEGER}
    </select>
</mapper>