<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="dingbu">
        <div class="denglu-font top">
            <a href="#" id="dingbuhome"><img src="/images/logo.jpg"></a>

            <div id="so" style="position: relative; left: 350px;top:8px;width: 100px; float: left;" class="top">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchText" style="width: 380px;" >
                    <span class="input-group-addon" id="search" onclick="search()"><i class="glyphicon glyphicon-search" style="color: #0055aa;"> <span>搜索
                                </span></i></span>
                </div>
            </div>
            <div class="denglu-font2 top">
                <a href="#" id="uname" >zyl</a>
                <a href="login" id="login_logout">登录</a>

            </div>
        </div>

    </div>

    <div class="list-1">
        <ul class="list-ul-2" style="position: relative;right: 190px;">
            <div class="img"><img src="/images/logo1.jpg" width="55px" height="55px" class="img-logo" /></div>

            <li th:each="category:${categories}">
                <a th:href="'/api/catagory/find?categoryId='+${category.id}" th:text="${category.name}">123</a>
            </li>
        </ul>
    </div>



    <div class="pro3">
        <div class="pro3_c">
            <ul class="pub_pro">
                <li th:each="item:${items}" th:object="${item}">
                    <a href="#">
                        <img th:src="'/static/images/img'+*{id}" alt="">
                        <div class="cont">
                            <h3 th:text="*{itemName}">简约时尚水泥花瓶</h3>
                            <span th:text="'￥' + *{price}">￥450</span>
                        </div>
                    </a>
                    <div class="mask">
                        <a href="#" class="btn">
                            查看详情
                        </a>
                    </div>
                </li>
            </ul>

            <div class="pages">
                <a th:href="@{/(pageNo=1)}">首页</a>

                <a th:href="@{/(pageNo = ${items.hasPrevious()} ? ${items.getNumber()} : 1)}">上一页</a>

                <a th:href="@{/(pageNo = ${items.hasNext()}?(${items.getNumber()}+2):${items.totalPages})}">下一页</a>

                <a th:href="@{/(pageNo = ${items.totalPages})}">尾页</a>

                当前页：<span th:text="${items.getNumber()}+1">1</span>

                总页数:<span th:text="${items.totalPages}">1</span>

                总条数:<span th:text="${items.totalElements}">1</span>
            </div>
        </div>
    </div>

</body>
<script src="/jquery/jquery2.1.4.js"></script>
<script src="/layer/layer.js"></script>
<script>
    function search(){
        console.log($("#searchText").val());
        var data = {"searchInfo":$("#searchText").val()};
        $.ajax({
            url:"/api/item/search",
            data:JSON.stringify(data),
            type:"POST",
            contentType:"application/json",
            dataType:"json",
            traditional:true
        })
    }

</script>
<!--<script>
    $(".pages .num").append("<a href=\"#\" class = \"tol \">2</a>")
    $("li").eq(0).children("a").text("123");
    $(".pub_pro li").eq(0).find("h3").text("123");
    $(".pub_pro li").eq(0).find("span").text("￥"+"123");
    $(".pub_pro li").eq(0).find("img").attr("src","../images/logo.jpg");
</script>-->

<!--<script>
    //获取所有分类
    $(function(){
        $.ajax({
            url:"/api/category/get",
            type:"GET",
            dataType:"json",
            traditional:true,
            success:function (data){
                console.log(data.data.size);
                layer.msg(data.data.size);
                if (data.code == 0) {
                    //获取分类列表成功
                    for(i=0;i<data.data.size;i++){
                        $("li").eq(i).children("a").text(data.data[i].name);
                    }
                } else {
                    console.log(data.msg);
                    layer.msg(data.msg)
                }
            }
        })
    })
</script>-->

<script>
    /*    //获取商品列表
        $(function(){
            $.ajax({
                url:"/api/item/all",
                type:"GET",
                dataType:"json",
                traditional:true,
                success:function (data){
                    console.log(data.data.size);
                    layer.msg(data.data.size);
                    if (data.code == 0) {
                        //获取商品列表成功
                        for(i=0;i< (total<pageNum?total:pageNum);i++){
                            $(".pub_pro li").eq(i).find("h3").text(data.data.list[i].name);
                            $(".pub_pro li").eq(i).find("span").text("￥"+data.data.list[i].price);
                            $(".pub_pro li").eq(i).find("img").attr("src",data.data.list[i].image);
                        }
                    } else {
                        console.log(data.msg);
                        layer.msg(data.msg)
                    }
                }
            })
        })*/
</script>
<script>
    $(function (){
        load_data();
    })
    //设置顶部栏的登录/退出按钮和用户名显示

    function load_data() {
        var theme = localStorage.getItem("username");
        var userId = localStorage.getItem("userId");
        console.log(localStorage.getItem("username"))
        console.log(localStorage.getItem("userId"))
        if (theme == null || theme == "") {
            $("#login_logout").text("登录")
            $("#uname").text('');
        } else {
            $("#login_logout").text( "退出")
            $("#login_logout").attr("href","/logot")
            $("#uname").text(theme);
            $("#uname").attr("href","/api/user/info?userId="+userId);
        }
    }

</script>

</html>
