<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>个人信息页</title>
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/header.css" rel="stylesheet">
	<script src="../jquery/jquery2.1.4.js"></script>
	<script src="../layer/layer.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="dingbu">
		<div class="denglu-font">
			<a href="#" id="dingbuhome"><img src="../images/logo.jpg"></a>

			<div class="denglu-font2">
				<a href="#" id="uname">...</a>
				<a href="login.html" id="login_logout">登录</a>

			</div>
		</div>
	</div>

	<div class="row" id="myHome_top">
		<div class="col-md-10 col-md-offset-1" style="background-color: #ffffff; border-radius: 2px;">
			<div class="row">
				<div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<!-- 用户头像 -->
					<img src="../images/logo4.png" style="width: 230px; position: relative;top: 50px;">
				</div>
				<div class="col-md-10 col-xs-12" style="position: relative;left: 50px;">
					<br><br><br>
					<div class="row">
						<div class="col-md-10">
							<!-- 用户名 -->
							<b id="myself_name" style="font-size: 22px;">zyl</b> &nbsp;&nbsp;&nbsp;
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<!-- realName -->
							<b>姓名</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="myself_family">张一隆</span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<!-- phoneNumber -->
							<b>手机号</b> &nbsp;&nbsp;&nbsp; <span id="myself_intro">15109918030</span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<!-- email -->
							<b>邮箱</b> &nbsp;&nbsp;&nbsp; <span id="myself_email">976235949@qq.com</span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<!-- academy grade studentNumber -->
							<b>学生认证</b> &nbsp;&nbsp;&nbsp; <span id="myself_student">软件学院 2018303107</span>
						</div>
					</div>
					<br>
					<div class="row">

						<div class="col-md-12">
							<!-- gender -->
							<b>性别</b> &nbsp;&nbsp;&nbsp; <span id="myself_sex_age">男</span>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6 col-xs-8">
							<!-- addresses -->
							<b>收货地址</b> &nbsp;&nbsp;&nbsp; <span id="myself_address">星天苑C座</span>

						</div>

						<div class="col-md-3 col-xs-7">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit" id="edituser"
							>
								<span class="glyphicon glyphicon-pencil"></span> 编辑资料</button>
						</div>

					</div>
					<br>

				</div>
			</div>
		</div>
	</div>

	<!--下半部分 -->
	<div class="row" id="myHome_bottom" style="position: relative; top: 10px;">
		<div class="col-md-10 col-md-offset-1" style="background-color: #ffffff; border-radius: 2px;">
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<!-- 我的发布 -->
					<li role="presentation" class="active" id="tab_dynamic">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">我的发布 <samp
								id="count_Article"></samp></a>
					</li>
					<!-- 我的订单 -->
					<li role="presentation" id="tab_answer">
						<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">我的订单 <samp
								id="count_Comment"></samp></a>
					</li>
					<!-- 我的求购 -->
					<li role="presentation" id="tab_attention">
						<a href="#attention" aria-controls="attention" role="tab" data-toggle="tab">我的求购 <samp
								id="count_Attention"></samp></a>
					</li>
					<!-- 我的收藏 -->
					<li role="presentation" id="tab_collect">
						<a href="#collect" aria-controls="collect" role="tab" data-toggle="tab">我的收藏 <samp
								id="count_Collect"></samp></a>
					</li>
				</ul>



				<!-- Tab panes -->
				<div class="tab-content">
					<br>
					<!--################################################### 发布的商品信息 ###################################################-->
					<div role="tabpanel" class="tab-pane active" id="home">

						<!-- 商品展示-循环 - 模板 -->
						<div id="myself_article_hide" style="display: block">
							<!-- 文章编号 -->
							<div class="myself_article_num">
								<div class="row">
									<!-- 配图 -->
									<div class="col-xs-12 col-md-3" id="myself_article_photo" style="cursor:pointer;">
										<!-- 图片 -->
										<img src="../images/img46.png" alt=""
											style="position: relative; height: 150px; border-radius: 3px;">
									</div>
									<div class="col-xs-12 col-md-9">
										<!-- 名称 -->
										<div id=""
											style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;">
											<h3 th:text="*{itemName}" style="cursor:pointer; font-size:18px;">简约时尚水泥花瓶1
											</h3>
										</div>
										<!-- 价格 -->
										<div id=""
											style="cursor:pointer;overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;">
											<span th:text="'￥' + *{price}"
												style="word-break: break-word;line-height: 1.6;">￥450</span>
										</div>
										<!-- 介绍 -->
										<div id=""
											style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;display: inline;">
											<span th:text="'￥' + *{price}"
												style="word-break: break-word;line-height: 1.6;">这是一款很好吃的酸辣粉</span>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-xs-7 col-md-10"></div>
									<!-- 修改 -->
									<div class="col-xs-2 col-md-1">
										<form class="form_articleUpdate">
											<button id="form_articleUpdate_button" type="button"
												class="btn btn-info btn-sm">编辑</button>
										</form>
									</div>
									<!-- 删除 -->
									<div class="col-xs-2 col-md-1">
										<form>
											<button type="button" id="myself_article_del"
												class="btn btn-danger btn-sm">删除</button>
										</form>
									</div>
								</div>
								<!-- 动态展示-循环-end -->
								<hr style="height:1px;border:none;border-top:1px solid #bbbbbb;">
							</div>
						</div>
					</div>
					<!--################################################### 发布商品-end ###################################################-->

					<!--################################################### 我的订单 ###################################################-->
					<div role="tabpanel" class="tab-pane" id="profile">
						<!-- 订单展示-循环 - 模板 -->
						<div id="huifu_article_hide" style="display: block">
							<div class="row">
								<!-- 配图 -->
								<div class="col-xs-12 col-md-3" id="myself_article_photo" style="cursor:pointer;">
									<!-- 图片 -->
									<img src="../images/img46.png" alt=""
										style="position: relative; height: 150px; border-radius: 3px;">
								</div>
								<div class="col-xs-12 col-md-9">
									<!-- 名称 -->
									<div id=""
										style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;">
										<h3 th:text="*{itemName}" style="cursor:pointer; font-size:18px;">简约时尚水泥花瓶2
										</h3>
									</div>
									<!-- 价格 -->
									<div id=""
										style="cursor:pointer;overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;">
										<span th:text="'￥' + *{price}"
											style="word-break: break-word;line-height: 1.6;">￥450</span>
									</div>
									<!-- 介绍 -->
									<div id=""
										style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;display: inline;">
										<span th:text="'￥' + *{price}"
											style="word-break: break-word;line-height: 1.6;">这是一款很好吃的酸辣粉</span>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-xs-7 col-md-10"></div>
								<!-- 修改 -->
								<div class="col-xs-2 col-md-1">
									<form class="form_articleUpdate">
										<button id="form_articleUpdate_button" type="button"
											class="btn btn-info btn-sm">编辑</button>
									</form>
								</div>
								<!-- 删除 -->
								<div class="col-xs-2 col-md-1">
									<form>
										<button type="button" id="myself_article_del"
											class="btn btn-danger btn-sm">删除</button>
									</form>
								</div>
							</div>
							<hr style="height:1px;border:none;border-top:1px solid #bbbbbb;">
						</div>
					</div>
					<!--################################################### 我的订单-end ###################################################-->

					<!--################################################### 我的求购 ###################################################-->
					<div role="tabpanel" class="tab-pane" id="attention">

						<div class="tab-content">
							<div class="row">
								<!-- 配图 -->
								<div class="col-xs-12 col-md-3" id="myself_article_photo" style="cursor:pointer;">
									<!-- 图片 -->
									<img src="../images/img46.png" alt=""
										style="position: relative; height: 150px; border-radius: 3px;">
								</div>
								<div class="col-xs-12 col-md-9">
									<!-- 名称 -->
									<div id=""
										style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;">
										<h3 th:text="*{itemName}" style="cursor:pointer; font-size:18px;">简约时尚水泥花瓶3
										</h3>
									</div>
									<!-- 价格 -->
									<div id=""
										style="cursor:pointer;overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;">
										<span th:text="'￥' + *{price}"
											style="word-break: break-word;line-height: 1.6;">￥450</span>
									</div>
									<!-- 介绍 -->
									<div id=""
										style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;display: inline;">
										<span th:text="'￥' + *{price}"
											style="word-break: break-word;line-height: 1.6;">这是一款很好吃的酸辣粉</span>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-xs-7 col-md-10"></div>
								<!-- 修改 -->
								<div class="col-xs-2 col-md-1">
									<form class="form_articleUpdate">
										<button id="form_articleUpdate_button" type="button"
											class="btn btn-info btn-sm">编辑</button>
									</form>
								</div>
								<!-- 删除 -->
								<div class="col-xs-2 col-md-1">
									<form>
										<button type="button" id="myself_article_del"
											class="btn btn-danger btn-sm">删除</button>
									</form>
								</div>
							</div>
						</div>
						<hr style="height:1px;border:none;border-top:1px solid #bbbbbb;">
					</div>

					<!--################################################### 我的求购-end ###################################################-->

					<!--################################################### 收藏 ###################################################-->
					<div role="tabpanel" class="tab-pane" id="collect">

						<div class="tab-content">
							<div class="row">
								<!-- 配图 -->
								<div class="col-xs-12 col-md-3" id="myself_article_photo" style="cursor:pointer;">
									<!-- 图片 -->
									<img src="../images/img46.png" alt=""
										style="position: relative; height: 150px; border-radius: 3px;">
								</div>
								<div class="col-xs-12 col-md-9">
									<!-- 名称 -->
									<div id=""
										style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;">
										<h3 th:text="*{itemName}" style="cursor:pointer; font-size:18px;">简约时尚水泥花瓶4
										</h3>
									</div>
									<!-- 价格 -->
									<div id=""
										style="cursor:pointer;overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;">
										<span th:text="'￥' + *{price}"
											style="word-break: break-word;line-height: 1.6;">￥450</span>
									</div>
									<!-- 介绍 -->
									<div id=""
										style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color: #000000;display: inline;">
										<span th:text="'￥' + *{price}"
											style="word-break: break-word;line-height: 1.6;">这是一款很好吃的酸辣粉</span>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-xs-7 col-md-10"></div>
								<!-- 修改 -->
								<div class="col-xs-2 col-md-1">
									<form class="form_articleUpdate">
										<button id="form_articleUpdate_button" type="button"
											class="btn btn-info btn-sm">编辑</button>
									</form>
								</div>
								<!-- 删除 -->
								<div class="col-xs-2 col-md-1">
									<form>
										<button type="button" id="myself_article_del"
											class="btn btn-danger btn-sm">删除</button>
									</form>
								</div>
							</div>
						</div>
						<hr style="height:1px;border:none;border-top:1px solid #bbbbbb;">
					</div>
				</div>
			</div>
			<!--################################################### 收藏-end ###################################################-->
		</div>
	</div>

	<!--###################################################发布修改的弹窗-start###############################################-->
	<div class="modal fade" id="modifyitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">修改发布商品</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label for="txt_departmentname">商品名称</label>
						<input type="text" class="form-control" id="modifyitemname" placeholder="请输入商品名称">
					</div>
					<div class="form-group">
						<label for="txt_parentdepartment">商品描述</label>
						<textarea id="modifydescription" class="form-control" rows="5" placeholder="请输入商品描述"></textarea>
						<!-- <input type="text" name="txt_parentdepartment" class="form-control" id="txt_parentdepartment" placeholder="上级部门"> -->
					</div>
					<div class="form-group">
						<label for="txt_departmentlevel">新旧程度</label>
						<input type="range" class="form-control" id="modifylevel" type="range" min="1" max="10"
							value="10" title="10" oninput="changelabel()" width="200px">
						<label id="levellabel">全新</label>
					</div>
					<div class="form-group">
						<label for="txt_statu">价格</label>
						<input type="number" class="form-control" id="modifyprice" placeholder="0">
					</div>
					<div class="form-group">
						<label for="txt_statu">剩余数量</label>
						<input type="number" class="form-control" id="modifycount" placeholder="0">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
					<button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span
							class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
				</div>
			</div>
		</div>
	</div>
	<!--###################################################发布修改的弹窗-start###############################################-->


	<!--###################################################个人信息修改的弹窗-start###############################################-->
	<div class="modal fade" id="modifyinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">新增</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label for="txt_departmentname">姓名</label>
						<input type="text" class="form-control" id="modifyname" placeholder="请输入姓名">
					</div>
					<div class="form-group">
						<label for="txt_parentdepartment">手机号</label>
						<input type="text" name="txt_parentdepartment" class="form-control" id="modifyphone"
							placeholder="手机号">
					</div>
					<div class="form-group">
						<label for="txt_statu">邮箱</label>
						<input type="email" class="form-control" id="modifyemail" placeholder="请输入邮箱">
					</div>
					<div class="form-group">
						<label for="txt_statu">性别</label><br>
						<input id="male" type="radio" name="sex" value="male" checked>男<br>
						<input id="female" type="radio" name="sex" value="female">女
					</div>
					<div class="form-group">
						<label for="txt_statu">收货地址</label>
						<input type="text" class="form-control" id="modifyaddress" placeholder="请输入收货地址">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
					<button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span
							class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
				</div>
			</div>
		</div>
	</div>
	<!--###################################################个人信息修改的弹窗-start###############################################-->
</body>
<script>
	//设置顶部栏的登录/退出按钮和用户名显示
	var login_logout = $("#login_logout");
	function load_data() {
		var theme = localStorage.getItem("username");
		if (theme == null || theme == "") {
			login_logout.innerText = "登录"
			$("#uname").html('');
		} else {
			login_logout.innerText = "退出"
			$("#uname").html(theme);
		}
	}
	$("#edituser").on('click',function(){
		console.log('click');
		var name = $("#myself_family").text();
		var phone = $("#myself_intro").text();
		var email = $("#myself_email").text();
		var gender = $("#myself_sex_age").text();
		var address = $("#myself_address").text();
		console.log(name + phone + email + address);
		$("#modifyname").val(name);
		$("#modifyphone").val(phone);
		$("#modifyemail").val(email);
		$("#modifyaddress").val(address);

		if(gender=='女'){
			$("#female").prop('checked','checked');
		}
		$("#modifyinfo").modal('show');
	});
	$("#form_articleUpdate_button").on('click', function () {
		var el = $(this).parents('#myself_article_num');
		// $('#modifyname').val(($(el).find('')).val)
		$('#modifyitem').modal('show');
	});
	function changelabel() {
		var level = $("#modifylevel").val();
		if (level == 10) {
			$("#levellabel").text("全新");
		} else {
			$("#levellabel").text(level + "成新");
		}
	};
</script>

</html>